<!DOCTYPE html>
<html>
<head>
	<title>Final Exam</title>
</head>
	<body>
		<div id="place_to_get">
			<form action="/myaction" method="post">
				Search for place.
				<input type="text" id="place" name="w_place" placeholder="Enter your address">
			</form>
		</div>
	</body>
</html>